/* ================================
   HCI Franchise Responsive CSS
   File: css/responsive.css
================================ */

/* Laptop / Small Desktop */
@media (max-width: 1199px) {
  .hero-title {
    font-size: 40px;
  }

  
}

/* Tablet */
@media (max-width: 991px) {
  button.navbar-toggler {
    position: absolute;
    top: 13px;
  }

  .navbar-brand.brand-logo {
    margin-left: 70px;
  }

  .navbar-collapse {
    padding: 18px 0 8px;
  }

  .navbar .nav-link {
    margin: 4px 0;
  }

  .hero {
    min-height: auto;
    padding: 80px 0;
  }

  .hero-title {
    font-size: 38px;
  }

  .appliance-stage {
    min-height: 360px;
  }

  .section-space {
    padding: 68px 0;
  }

  .franchise-form {
    margin-top: 10px;
  }
}

/* Mobile Landscape / Small Tablet */
@media (max-width: 767px) {

   .product-tabs {
    justify-content: flex-start !important;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 8px;
    margin-bottom: 28px !important;
    scrollbar-width: none;
  }

  .product-tabs::-webkit-scrollbar {
    display: none;
  }

  .product-tabs .nav-item {
    flex: 0 0 auto;
  }

  .product-tabs .nav-link {
    min-width: auto;
    font-size: 14px;
    padding: 11px 20px;
    white-space: nowrap;
  }

   .product-tabs .nav-link {
    font-size: 13px;
    padding: 10px 16px;
  }


  .compact-footer-box {
    padding: 20px 0px;
  }

  .compact-footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .hero-title {
    font-size: 34px;
  }

  .hero-desc,
  .section-desc {
    font-size: 15px;
  }

  .hero-point {
    font-size: 14px;
  }

  .benefit-card {
    gap: 14px;
  }

  
}

/* Mobile */
@media (max-width: 575px) {
  .partner-card {
    margin: 0px;
  }
  .hero {
    padding: 30px 0;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-card {
    padding: 0;
    border-radius: 24px;
  }

  .appliance-stage {
    min-height: 300px;
    padding: 12px;
    border-radius: 20px;
  }

  .appliance-stage img {
    height: 280px;
    border-radius: 18px;
  }

  .badge-100 {
    right: 22px;
    bottom: 22px;
    padding: 10px 12px;
    font-size: 13px;
  }

  .hero-desc {
    font-size: 15px;
  }

  .btn-bosch,
  .btn-outline-bosch {
    width: 100%;
    text-align: center;
  }

  .section-space {
    padding: 30px 0;
  }

  .section-title {
    font-size: 28px;
  }

  .for-you-box,
  .partner-card,
  .setup-card,
  .franchise-form {
    padding: 22px;
  }

  .apply-info-card {
    padding: 22px;
  }


  
}

/* Very Small Mobile */
@media (max-width: 380px) {
  .hero-kicker,
  .section-tag {
    font-size: 11px;
  }

  .benefit-icon,
  .hero-point i {
    width: 44px;
    height: 44px;
    flex: 0 0 44px;
  }
}
